@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: 'Poppins', sans-serif;
  }

  body {
    min-height: 100vh;
  }
}
